h1 {
    font-style: italic;
}

th {
    font-style: italic !important;
}

.page-break {
    page-break-after: always;
}

footer {
    page-break-after: always;
}

.row:has (footer) {
    page-break-after: always;
}
